.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  position: relative;
  @media only screen and (max-width: $bp-large) { 
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
  .nav-btn {
    background-color: #fff;
    width: 4.5rem;
    height: 2px;
    margin: 4rem auto 0;
    display: block;
    outline: none;
    border: none;
    position: relative;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    &::before,
    &::after {
      content: "";
      height: 100%;
      width: 100%;
      background-color: inherit;
      position: absolute;
      left: 0;
    }
    &::after {
      top: -1.5rem;
    }
    &::before {
      top: 1.5rem;
    }
    @media only screen and (max-width: $bp-large) {
      position: absolute;
      top: 50%;
      right: 2rem;
      translate: 0 50%;
      margin: 0;
      &::after {
        top: -1.2rem;
      }
      &::before {
        top: 1.2rem;
      }
    }
  }
}
